body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dadada;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*#414040;*/
.App
{
    background-color: #201f1f;
    padding-bottom: 94.4vh;
    height: 100px;
}

.schedule > span
{
    position: absolute;
    z-index: 1;
    background-color: #333232;
    margin-top: 10px;
    margin-left: 16px;
    
    margin-top: 20px;
    text-align: center;

    margin-top: -43px;
    margin-left: 350px;
    padding: 11px;
    cursor: pointer;
}

.schedule > span:hover
{
    background-color: #414040;
}

.subjects-headings
{
    margin-top: 10px;
    margin-left: 70px;
    display: flex;
}

.subjects-headings > span
{
    background-color: #333232;
    padding: 11px;
}

.button-to-scheduler
{
    cursor: pointer;
    margin-right: 70px;
}

.button-to-scheduler:hover
{
    background-color: #414040;
}

.create-new-subject
{
    margin-left: auto;
    margin-right: 70px;
    cursor: pointer;
}

.create-new-subject:hover
{
    background-color: #414040;
}

.subjects
{
    text-align: center;
}

.subject-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-card
{
    margin: 15px 20%;
    /*background-color: #333232;*/
    background-color: rgb(175, 175, 175);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 900px;
    border-radius: 100px;
    border-color: #bbb;
    border-style: solid;
}

.subject-card:hover
{
    background-color: #414040;
}

.subject-card-name
{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 3px;
    
}

.dot, .color-selection-dot
{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.2s;
}

.edit-subject
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.edit-subject-title
{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.subject-title-form
{
    background-color: #333232;
    width: 900px;
    font-size: 35px;
    padding: 15px 0px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.color-selection
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.confirm-delete
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 20px;
}

.confirm-button, .delete-button
{
    background-color: #333232;
    padding: 11px;
    margin: 0px 20px
}

.confirm-button:hover, .delete-button:hover, .subject-information:hover
{
    background-color: #414040;
    cursor: pointer;
}

.color-selection-dot
{
    margin: 10px 10px;
}